
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #E5E5E5;
}
.genlayout {
    max-width: 1000px;
    margin: auto;
}
#homepage {
    display: flex;
}
.intro {
    height: 125vh;
    width: 250px;
    border: 2px solid white;
    background-color: white;
    margin-left: 80px;
    /* position: fixed; */


}
.intro > img {
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    margin-left: 50px;
    height: 20vh;
    margin-top: 3px;
    width: 100px;
}
.intro > h3 {
    margin-left: 15px;
    font-size: medium;
    font-weight: 200;
    margin-top: 2.5px;
}
.intro > h2{
    margin-left: 18px;
}
.intro > p{
    margin-left: 50px;
}
.intro > h6 {
    margin-left: 40px;
}
.intro > h1{
    font-weight: 500;
    font-size: medium;
}
.intro > h4, li{
    margin-left: 13px;
    margin-top: 5px;
    font-weight: 300;
}
.intro2 {
    border: 2px solid white;
    width: 40rem;
    height: 45vh;
    /* margin-right: 15rem; */
    background-color: white;
}
.intro2 > h1 {
    position: relative;
    left: 12px;
}
.image > img {
    margin-left: 95px;
    position: relative;
    left: 23rem;
    bottom: 14rem;
    height: 43vh;
    width: 10rem;
    
}
.intro2 > p{
    font-weight: 400;
    font-size: large;
    position: relative;
    left: 12px;
}
.intro2 > button {
    position: relative;
    bottom: 16.3rem;
    left: 23rem;
    background-color: orange;
    border-color: orange;
    width: 85px;
    height: 5vh;
}
.services {
    position: relative;
    bottom: 12rem;
    left: 10rem;
    
}
.services >h1{
    margin-left: 58px;
    margin-bottom: 8px;
}
.grid {
    grid-template: auto;
    position: relative;
    bottom: 10rem;

}
.grid > img {
    width: 13rem;
    height: 21vh;
    margin-bottom: 10px;
}
.nav {
    border: 2px solid;
    width: 80px;
    background-color: white;
    height: 125vh;
    
}
.nav > a:first-child{
    margin-top: 12rem;
}
.nav > a {
  display: flex; 
  justify-content: center;
  margin-top: 35px;
   
}